/***** HOME *****/

body, html{
  height:100%;
}

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://dl.dropboxusercontent.com/s/8rpbf8qoqjr05be/IMG_2362.JPG?dl=0");
  height:100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.home-wrap {
  padding-top: 140px;
}

.home-header {
  font-family: 'Oswald';
  font-size: 60px;
  color: #fff;
}

h2 {
  font-family: 'Oswald';
  font-size: 40px;
  color: #fff;
}

.home-line {
  border: 0;
  height: 3px;
  width: 90%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 153, 0, 1), rgba(0, 0, 0, 0));
}

body{
  font-family: 'Oswald', sans-serif;
}

.fa{
  padding: 20px;
  font-size: 30px;
  width: 70px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;}

.divider-line {
  border: 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, white, darkslategrey, white);
}

#portfolio{
  background-color:lightgrey;
}

.project-item {
  margin-top: 40px;
  text-align: center;
  overflo: hidden;
}

img {
  border: 2px solid grey;
  border-radius: 15px;
  width: 200px;
  height: 133px;
}

.about-text{
  font-size:25px;
  font-family: 'Oswald';
}

.navbar {
  background-color: #666;
}

.navbar ul li a {
  color: #fff !important;
  font-size: 15px;
}

.navbar ul li a:hover {
  background-color: #fff !important;
  color: #458B74 !important;
}

.navbar-brand {
  color: #fff !important;
  font-size: 20px;
}

#about{
  margin-bottom:65px;
}

#contact{
  background-color:grey;
  font-family: 'Oswald';
  font-size: 68px;
}

iframe{
    width: 90%;
    height: 90%;
}