$blue: #a3d5d3;

body {
  background-color: $blue;
}

img {
  width:100%;
}

.thumbnail{
  background:powderblue;
  width:100%;
}

.list-bullets{
	
}

.wiki-text{
   text-align:center;
}


.container{
  width:100%;
  margin: 0 auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}